.topNavBar {
  border-bottom: 5px solid lightgrey;
  padding: 10px;
  margin-bottom: 10px; }
  .topNavBar .username {
    font-size: 20px;
    font-family: 'Anton', sans-serif; }

.loginArea {
  text-align: center; }
  .loginArea input {
    border-radius: 10px;
    display: flex;
    margin: auto; }
  .loginArea button {
    color: white;
    background: red;
    border-radius: 20px; }

.signUpArea {
  text-align: center; }
  .signUpArea input {
    border-radius: 10px;
    display: flex;
    margin: auto; }
  .signUpArea button {
    color: white;
    background: red;
    border-radius: 20px; }

.collectionsList #createNewCollectionButton {
  margin: 10px;
  color: white;
  background: red;
  border-radius: 20px; }

.collectionsList .newCollectionName {
  border: 1px solid lightgrey; }

.collectionsList .SelectedCollectionArea {
  background: black; }

.youtubeSearchInput {
  border: 1px solid lightgrey; }

.youtTubeVideoDisplay {
  display: flex; }
