$font-stack:    Helvetica, sans-serif;
$primary-color: white;
$myRed: red;

@mixin myfont{
  font-family: 'Anton', sans-serif;
}

@mixin button {
color:white;
background: red;
border-radius: 20px;
}

.topNavBar{

  border-bottom: 5px solid lightgrey;
  padding:10px;
  margin-bottom: 10px;
  .myChoice{
    font-size: 20px;
    @include myfont;
  }
  
}



  .landingArea{
    margin: 0 auto;
   
    div{
      margin: 50px;
      text-align: center;
     
      input{

        border-radius: 10px;
        display: flex;
        margin: 0 auto;
      }
      button{
         @include button;
      }
    }
  }




.collectionsList{

    
    
    #createNewCollectionButton{
      margin: 10px;
      @include button;
    }
    .newCollectionName{
      border: 1px solid lightgrey;
    }
    .SelectedCollectionArea{
      background: black;
    }
    

} 




.selectedCollection{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

    .underVideo{
     
      width: 400px;
      display: flex;
      justify-content: space-between;
      position:relative;
      top: -5px;
      border-bottom: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-left: 1px solid lightgrey;
      .underVideoDescription{
      margin-left:10px;
      }
      .deleteVideoButton{
         margin: 2px;
          @include button;
      }
    }

}



.youtubeSearchInput{
  border: 1px solid lightgrey;
}

.youTubeSearchArea{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // display:grid;
  // grid-template-columns: 1fr 1fr;
}
.youtubeSearchInput{
  
  width: 250px;
height: 30px;
  margin-bottom: 25px;
}




