.topNavBar {
  border-bottom: 5px solid lightgrey;
  padding: 10px;
  margin-bottom: 10px; }
  .topNavBar .myChoice {
    font-size: 20px;
    font-family: 'Anton', sans-serif; }

.landingArea {
  margin: 0 auto; }
  .landingArea div {
    margin: 50px;
    text-align: center; }
    .landingArea div input {
      border-radius: 10px;
      display: flex;
      margin: 0 auto; }
    .landingArea div button {
      color: white;
      background: red;
      border-radius: 20px; }

.collectionsList #createNewCollectionButton {
  margin: 10px;
  color: white;
  background: red;
  border-radius: 20px; }

.collectionsList .newCollectionName {
  border: 1px solid lightgrey; }

.collectionsList .SelectedCollectionArea {
  background: black; }

.selectedCollection {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .selectedCollection .underVideo {
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -5px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey; }
    .selectedCollection .underVideo .underVideoDescription {
      margin-left: 10px; }
    .selectedCollection .underVideo .deleteVideoButton {
      margin: 2px;
      color: white;
      background: red;
      border-radius: 20px; }

.youtubeSearchInput {
  border: 1px solid lightgrey; }

.youTubeSearchArea {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.youtubeSearchInput {
  width: 250px;
  height: 30px;
  margin-bottom: 25px; }
